@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Pragmatica ExtraLight Reg';
    src: url('./assets/Pragmatica-ExtraLight.woff') format('woff');
    }
*{
    font-family:'Pragmatica ExtraLight Reg';
    
}